.keyboard-key {
  display: flex;
  flex: 1;
  font-size: 1rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  background-color: lightslategray;
  margin: 0 0.2rem;
  border-radius: 3px;
}

.correct {
  background-color: #538d4e;
}

.incorrect {
  background-color: #3a3a3c;
}

.special {
  flex: 1.5;
}
